@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #010910;
    min-height: 1500px;

}

.hello{
   padding-bottom: 30px;
}

.section1{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
   

}
.section1:before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #02111d, transparent);
    z-index: 2;

}

.section1:after{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0c0631;
    mix-blend-mode: color;
    opacity: 0.7; 
    z-index: 2;
   

}
section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    
}

.section1 img{
    opacity: 0.7;
}

#text{
    position:relative;
    color: #fff;
    font-size: 8em;
    z-index: 1;
    letter-spacing: 8px;

}



#road{
    z-index: 2;

}
.intro{
    position: relative;
    width: 50%;
    margin:auto;
    padding-top: 350px;
    text-align:  center;
    color: white;
   

}

a{
    position: relative;
    display: inline-block;
    padding:12px;
    /* margin: 70px; */
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1px;
    border-radius: 40px;
    overflow: hidden;
    background: linear-gradient(90deg, #011355, #019bb2);


}

a span{
    position: absolute;
    background: #fff;
    transform: translate(-50%, -50%);
    pointer-events: none;
    border-radius: 50%;
    animation: animate 1s linear;
}

@keyframes animate{
    0%{
        width: 0px;
        height: 0px;
        opacity:0.7;
    }
    100%{
        width: 500px;
        height: 500px;
        opacity: 0.0;
    }
}
.heading{
    /* position: relative; */
    /* margin: 80px; */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Horizontally center the text */
    align-items: center; /* Vertically center the text */
    /* height: 100vh; Full viewport height */
    text-align: center;

}

.paragraph{
    position: relative;
    top: 40px;
    color: white;
    width: 100%;
}

.about-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.about{
    position: relative;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: 300px;
    min-height: calc(100vh - [header height] - [footer height]);
}

.about-image{
    opacity: 0.5;
    max-height: 300px;

}




.cards{
    margin: 0 auto;
    max-width: 1000px;
    padding: 80px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    gap: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
}

.card{
    border-radius: 20px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;

}

.card img{
    width: 100%;
    height: 150px;
    display: block;
    object-fit: cover;
}

.content{
    line-height: 2.5;
    font-size: 0.9em;
    padding: 15px;
    background: #fafafa;
    height: auto;
}

.content > p:first-of-type{
    margin-top: 0;
}

.content > p:last-of-type{
    margin-bottom: 0;
}

.learn-more{
    display: inline-block;
    padding: 8px;
    margin: 0px;
    font-size: 0.3em;

}



/* about me*/

body{
    background-color: #02111d;

}



.about{
    
    position: relative;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin-top: 150px;
    margin-bottom:150px;
}


/* KIRBY */


.box{
    background-color: #02111d;
    width: 300px;
    height: 300px;
     transform: translate(-50%, -50%);
     top: 50%;
     left: 50%;
     position: relative;
   
   
   
}



.head{
    position: absolute;
    width: 200px;
    height: 190px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 50%;
    background-color: #fa8fb1;
    border: 2px solid rgb(29, 29, 29);
    box-shadow: inset -8px -10px 2px #ef4c85;
}

.face{
    width: 150px;
    height: 120px;
    top: 40px;
    position: absolute;
}

.eyes{
    position: absolute;
    width: 150px;
    height: 70px;
    bottom: 65px;

}


.eye-1{
    position: absolute;
    background-color: #0e0e0e;
    width: 20px;
    height: 50px;
    border-radius: 50%;
    left: 65px;

}

.eye-2{
    position: absolute; 
    background-color: #0e0e0e;
    width: 20px;
    height: 50px;
    left: 105px;
    border-radius: 50%;
}


.pupil{
    position: absolute;
    width: 12px;
    height: 16px;
    top: 3px;
    left: 4px;
    background-color: #ffffff;
    border-radius: 50%;
}


.pupil-blue{
    position: absolute;
    background-color: #0259a6;
    border-radius: 50%;
    margin: auto;
    top: 19px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 13px;
    height: 23px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: inset 1px -15px 0px -5px #0259a6;

}

.cheeks{
    position: absolute;
    width:200px;
    height: 40px;
    top: 45px;

}
.cheek-1{
    position: absolute;
    width: 40px;
    height: 20px;
    left: 25px;
    background-color: #f7689a;
    box-shadow: inset -2px -3px 4px #ce235f;
    transform: rotate(5deg);
    border-radius: 50%;
}

.cheek-2{
    position: absolute;
    width: 40px;
    height: 20px;
    left: 130px;
    background-color: #f7689a;
    box-shadow: inset -2px -3px 4px #ce235f;
    transform: rotate(-5deg);
    border-radius: 50%;
}

.mouth{
    position: absolute;
    width: 20px;
    height: 20px;
    top: 30px;
    left: 83px;
    background-color: #6f2626;
    border-radius: 30px 30px 90px 90px;
    border: 1px solid #0e0e0e;
    overflow: hidden;
}


.tongue{
    position: absolute;
    width: 60px;
    height: 30px; 
    top: 10px;
    left: -10px;
    background-color: #ff4e4e;
    border-radius:50%;
    overflow: hidden;
}

.hands{
    position: relative;
    width: 100px;
    max-width: 100px;
    height: 150px;
    top: 300px;

}

.hand-1{
    position: absolute;
    left: 220px;
    top: -230px;
    background-color: #fa8fb1;
    width: 50px;
    height: 90px;
    border-radius: 80%;
    transform: rotate(35deg);
    border: 2px solid rgb(29, 29, 29);
    box-shadow: inset -10px -7px 2px #ef4c85;
    
}

.hand-2{
    position: absolute;
    left: 40px;
    top: -150px;
    background-color: #fa8fb1;
    width: 50px;
    height: 90px;
    border-radius: 80%;
    transform: rotate(10deg);
    border: 2px solid rgb(29, 29, 29);
    box-shadow: inset -10px -7px 2px #ef4c85;
}

.feet{
    position: absolute;
    width: 50px;
    height: 100px;
    left: 0px;
    top: 300px;
}


.foot-1{
    position: absolute;
    left: 50px;
    top: -70px;
    background-color: #9c102e;
    width: 90px;
    height: 40px;
    border-radius: 80%;
    transform: rotate(-10deg);
    border: 2px solid rgb(29, 29, 29);
    box-shadow: inset -10px -7px 2px #b41f40
}

.foot-2{
    position: absolute;
    top: -70px;
    left: 160px;
    background-color: #9c102e;
    width: 90px;
    height: 40px;
    border-radius: 80%;
    transform: rotate(10deg);
    border: 2px solid rgb(29, 29, 29);
    box-shadow: inset -10px 2px 2px #b41f40
}


a span{
    position: absolute;
    background: #fff;
    transform: translate(-50%, -50%);
    pointer-events: none;
    border-radius: 50%;
    animation: animate 1s linear;
}

@keyframes animate{
    0%{
        width: 0px;
        height: 0px;
        opacity:0.7;
    }
    100%{
        width: 500px;
        height: 500px;
        opacity: 0.0;
    }
}


.ripple-button{
    position: relative;
    display: flex;
    justify-content: center;
    margin: auto;
    width: 150px;

}

/* PROJECT 1 */

.proj1-img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

header{
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 100px;
    color: white;
    line-height: auto;
    object-fit: cover;
    pointer-events: none;
    position: relative;
    z-index: 1;
    
}

h1{
    color: #a8d0ff;
}



.proj1{
    padding-left: 150px;
    padding-right: 150px;
    color: white;
    line-height: 2em;

}

h2{
    padding-top: 100px;
    padding-bottom: 50px;
    color: #a8d0ff;
    
}

.lofi-img{
    position: relative;
    width: 100vh; 
    height: 100vh;
    margin:auto;
    
}


.ball{
    position: absolute;
    right: 200px;
    height: 90px;
    width: 100px;

}

.first-iteration{
    position: relative;
    display: block;
    margin: auto;
    
}

.final-designs{
    position: relative;
    display: block;
    margin: auto; 
    transform: scale(0.5) !important;
    margin-top: -250px;
    margin-bottom: -400px;
}

.data{
    position: relative;
    display: block;
    margin: auto; 
    transform: scale(0.8) !important;
}



.participants{
    position: relative;
    margin: auto; 
    transform: scale(0.4) !important;
    margin-top: -250px;
    margin-bottom: -400px; 
    padding: 10px;
}

.competition{
    position: relative;
    margin-top: 10px;
}
.final-takeaways{
    padding-top:300px;

}


footer{
    margin-top: 200px;
    padding-bottom: 50px;
    background-color: #111;
    box-sizing: border-box;
    position: relative;
    text-align: center;
    overflow: clip; 
}

.footer-content{
    width: 100%;
    padding: 100px 0px 20px;
    /* max-width: 1440px */

}

.social-icons{
    display: flex;
    justify-content: center;
}

.social-icons a{
    text-decoration: none;
    margin: 10px;
    border-radius: 50%;
    width: 20px; /* Adjust the width and height as needed */
    height: 20px;
    background-color: #111; 

}

.social-icons a i{
    font-size: 1.5em;
    opacity: 0.9;
    color: white; 

}

.footer-navigation{
    padding: 0;
    margin: 0;

}

.footer-navigation ul{
    display: flex;
   justify-content: center;
   list-style: none;
   
}

.footer-navigation ul li {
    margin: 0 20px; /* Adjust the spacing between links */
    
}

.footer-navigation ul li a {
    color: #fff;
    text-decoration: none; /* Remove underline from links */
    background: none;
}

.footer-navigation ul li a:hover {
    text-decoration: underline; 
    transition: .5s;
}


.footer-bottom{
    color: white;
}


.back-next{
    position: relative;
    /* margin-top: -100px; */
    margin-bottom: 100px;
    z-index: 100;
}
.back-arrow{
    position: absolute;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 30px;
    margin-left: 200px;
    /* margin-top: 100px; */
    
}

.next-arrow{
    position: absolute;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 30px;
    right: 0px;
    margin-right: 200px;
    /* margin-top: 100px; */

}

.card, .proj1 *{
    opacity: 0;
    transform: translateX(-100px);
    filter: blur(10px);
    transition: opacity 0.5s ease-out, transform 1s ease-out, filter 1s ease-out;
}

.card:nth-child(1) {
    transition-delay: 50ms;
}

.card:nth-child(2) {
    transition-delay: 200ms;
}

.card:nth-child(3) {
    transition-delay: 400ms;
}

.show {
    opacity: 1;
    transform: translateX(0);
    filter: blur(0);
}


.cute-container{
    height: 370px;
    width: 370px;
    position: absolute;
    margin: auto;
    left: 0;
    right:0;
    top: 1150px;
    bottom: 0;
}

.cute-moon{
    background-color: #39beff;
    height: 170px;
    width: 170px;
    border-radius: 50%;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;

}

.crater{
    background-color: #31b4ff;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: relative;
}

.crater:before{
    content: "";
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    box-shadow: -5px 0 0 2px #1ca3f9;
    top: 2px;
    left: 7px;

}

.crater-1{
    top: 35px;
    left: 100px;
    transform: scale(0.9);

}

.crater-2{
    bottom:15px;
    left: 61px;
    transform: scale(0.6);
}

.crater-3{
    left: 15px;
    transform: scale(0.75);

}

.crater-4{
    left: 107px;
    top: 32px;
    transform: scale(1.18);

}

.crater-5{
    left: 33px;
    bottom: 4px;
    transform: scale(0.65);

}

.shadow{
    height: 190px;
    width: 190px;
    box-shadow: 21px 0 0 5px rgba(0,0,0,0.15);
    border-radius:50%;
    position: relative;
    bottom: 157.5px;
    right: 46px;

}


.eye{
    height: 12px;
    width: 12px;
    background-color: #161616;
    position: relative;
    border-radius: 50%;
}

.eye-1{
    bottom: 18px;
    left: 59px;

}

.eye-r{
    bottom: 267px;
    left: 101px;


}

.moon-mouth{
    height: 5px;
    width: 10px;
    border: 3px solid #161616;
    position: relative;
    bottom: 262px;
    left: 79px;
    border-top: none;
    border-radius: 0 0 10px 10px;
   

}

.blush{
    height: 7.5px;
    width: 7.5px;
    background-color: pink;
    position: relative;
    border-radius:50%;

}

.blush-1{
    bottom: 273px;
    left: 50px;

}

.blush-2{
    bottom: 281px;
    left: 115px;

}

.orbit{
    height: 280px;
    width: 280px;
   
    border-radius: 50%;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
    animation: spin 5s infinite linear;

}

@keyframes spin{
    100%{
        transform: rotate(360deg);
    }
}

.rocket{
    background-color: #fafcf7;
    height:50px;
    width: 25px;
    border-radius: 50% 50% 0 0;
    position: relative;
    left: -11px;
    top: 115px;

}

.rocket:before{
    position: absolute;
    content:"";
    background-color: red;
    height: 20px;
    width: 55px;
    z-index: -1;
    border-radius: 50% 50% 0 0 ;
    right: -15px;
    bottom: 0;

}

.rocket:after{
    position: absolute;
    content:"";
    background-color: crimson;
    height: 4px;
    width: 15px;
    border-radius: 0 0 2px 2px;
    bottom: -4px;
    left: 4.3px;

}

.window{
    height: 10px;
    width: 10px;
    background-color: #151845;
    border: 2px solid #b8d2ec;
    border-radius: 50%;
    position: relative;
    top: 17px;
    left: 5px;

} 


